:root {
  --primary: #7B2CBF;        /* Hauptfarbe (Violett) */
  --primary-light: #9D4EDD;  /* Hover / Glow */
  --accent: #F72585;         /* Pink Highlight */
  --accent-soft: #FF4FCB;    /* softer Glow */

  --bg-dark: #0F0F1A;        /* Hauptbackground */
  --bg-card: #1A1A2E;        /* Cards / Panels */
  --bg-dialog: #16213E;      /* Modals */

    --text-main: #FFFFFF;
    --text-secondary: #B8B8D1;

    --border: rgba(255,255,255,0.08);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/images/master_ball_background.png);
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--bg-dark);
    color: var(--text-main);
    width: 100%;
    min-height: 100vh;
}

.maxSize{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background: rgba(15,15,26,0.9);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--border);
}

.headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 120px;
    width: 100%;
    padding: 8px;
}

header img{
    height: 120px;
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 16px;
    padding-top: 16px;
    width: 100%;
}
.low{
    display: flex;
    justify-content: center;
    padding: 12px;
}
.loadBtn{
    padding: 12px;
    border: var(--border);
    border-radius:  16px;
    background: var(--bg-card);
    color: var(--text-main);
    box-shadow: var(--accent-soft);
}
.loadBtn:hover{
    color: var();
}

footer{
    background: rgba(15,15,26,0.9);
    backdrop-filter: blur(10px);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    height: 120px;
}

.footerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

